<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Fragment>
        <ComponentGroup Id="Database">
            <ComponentRef Id="Amm.dat" />
            <ComponentRef Id="ColdChem.dat" />
            <ComponentRef Id="Concrete_PHR.dat" />
            <ComponentRef Id="Concrete_PZ.dat" />
            <ComponentRef Id="core10.dat" />
            <ComponentRef Id="frezchem.dat" />
            <ComponentRef Id="iso.dat" />
            <ComponentRef Id="Kinec_v3.dat" />
            <ComponentRef Id="Kinec.v2.dat" />
            <ComponentRef Id="llnl.dat" />
            <ComponentRef Id="minteq.dat" />
            <ComponentRef Id="minteq.v4.dat" />
            <ComponentRef Id="phreeqc.dat" />
            <ComponentRef Id="phreeqc_rates.dat" />
            <ComponentRef Id="PHREEQC_ThermoddemV1.10_15Dec2020.dat" />
            <ComponentRef Id="pitzer.dat" />
            <ComponentRef Id="sit.dat" />
            <ComponentRef Id="stimela.dat" />
            <ComponentRef Id="Tipping_Hurley.dat" />
            <ComponentRef Id="wateq4f.dat" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="database" Name="database">
                <Component Id="Amm.dat" Guid="*">
                  <File Id="Amm.dat" KeyPath="yes" Source="$(var.DbDir)\Amm.dat" />
                </Component>
                <Component Id="ColdChem.dat" Guid="*">
                  <File Id="ColdChem.dat" KeyPath="yes" Source="$(var.DbDir)\ColdChem.dat" />
                </Component>
                <Component Id="Concrete_PHR.dat" Guid="*">
                  <File Id="Concrete_PHR.dat" KeyPath="yes" Source="$(var.DbDir)\Concrete_PHR.dat" />
                </Component>
                <Component Id="Concrete_PZ.dat" Guid="*">
                  <File Id="Concrete_PZ.dat" KeyPath="yes" Source="$(var.DbDir)\Concrete_PZ.dat" />
                </Component>
                <Component Id="core10.dat" Guid="*">
                  <File Id="core10.dat" KeyPath="yes" Source="$(var.DbDir)\core10.dat" />
                </Component>
                <Component Id="frezchem.dat" Guid="*">
                  <File Id="frezchem.dat" KeyPath="yes" Source="$(var.DbDir)\frezchem.dat" />
                </Component>
                <Component Id="iso.dat" Guid="*">
                  <File Id="iso.dat" KeyPath="yes" Source="$(var.DbDir)\iso.dat" />
                </Component>
                <Component Id="Kinec_v3.dat" Guid="*">
                  <File Id="Kinec_v3.dat" KeyPath="yes" Source="$(var.DbDir)\Kinec_v3.dat" />
                </Component>
                <Component Id="Kinec.v2.dat" Guid="*">
                  <File Id="Kinec.v2.dat" KeyPath="yes" Source="$(var.DbDir)\Kinec.v2.dat" />
                </Component>
                <Component Id="llnl.dat" Guid="*">
                  <File Id="llnl.dat" KeyPath="yes" Source="$(var.DbDir)\llnl.dat" />
                </Component>
                <Component Id="minteq.dat" Guid="*">
                  <File Id="minteq.dat" KeyPath="yes" Source="$(var.DbDir)\minteq.dat" />
                </Component>
                <Component Id="minteq.v4.dat" Guid="*">
                  <File Id="minteq.v4.dat" KeyPath="yes" Source="$(var.DbDir)\minteq.v4.dat" />
                </Component>
                <Component Id="phreeqc.dat" Guid="*">
                  <File Id="phreeqc.dat" KeyPath="yes" Source="$(var.DbDir)\phast.dat" />
                </Component>
                <Component Id="phreeqc_rates.dat" Guid="*">
                  <File Id="phreeqc_rates.dat" KeyPath="yes" Source="$(var.DbDir)\phreeqc_rates.dat" />
                </Component>
                <Component Id="PHREEQC_ThermoddemV1.10_15Dec2020.dat" Guid="*">
                  <File Id="PHREEQC_ThermoddemV1.10_15Dec2020.dat" KeyPath="yes" Source="$(var.DbDir)\PHREEQC_ThermoddemV1.10_15Dec2020.dat" />
                </Component>
                <Component Id="pitzer.dat" Guid="*">
                  <File Id="pitzer.dat" KeyPath="yes" Source="$(var.DbDir)\pitzer.dat" />
                </Component>
                <Component Id="sit.dat" Guid="*">
                  <File Id="sit.dat" KeyPath="yes" Source="$(var.DbDir)\sit.dat" />
                </Component>
                <Component Id="stimela.dat" Guid="*">
                  <File Id="stimela.dat" KeyPath="yes" Source="$(var.DbDir)\stimela.dat" />
                </Component>
                <Component Id="Tipping_Hurley.dat" Guid="*">
                  <File Id="Tipping_Hurley.dat" KeyPath="yes" Source="$(var.DbDir)\Tipping_Hurley.dat" />
                </Component>
                <Component Id="wateq4f.dat" Guid="*">
                  <File Id="wateq4f.dat" KeyPath="yes" Source="$(var.DbDir)\wateq4f.dat" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
</Wix>
